

.btnRestart {
  grid-area: restart;
  background-color: #4d8249;
  color: var(--color-secondary);
  border-radius: 7px;
  font-size: 4rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 100ms;
  box-sizing: border-box;
  &:hover {
    transition: all 250ms;
    bottom: 7px;
  }
  &:focus {
    transition: all 250ms;
    background-color: var(--color-secondary);
  }
  &Hidden {
    visibility: none;
    color: transparent;
    font-size: 4rem;
  }
}
