.btnRestart {
  grid-area: restart;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 7px;
  font-size: 3rem;
  cursor: pointer;
  transition: all 250ms;
  border: none;
  position: relative;
  bottom: 0px;
  &:hover {
    transition: all 250ms;
    bottom: 7px;
  }
  &:focus {
    transition: all 250ms;
    background-color: var(--color-secondary);
  }
  &Hidden {
    visibility: none;
    color: transparent;
    font-size: 3rem;
  }
}
