.btnRestart {
  grid-area: restart;
  color: var(--color-secondary);
  border-radius: 7px;
  font-size: 4rem;
  cursor: pointer;
  transition: all 250ms;
  border: none;
  position: relative;
  bottom: 0px;
  &Hidden {
    visibility: none;
    color: transparent;
    font-size: 4rem;
  }
}
