.heading {
  grid-area: heading;
  text-align: center;
  color: #cac9c9;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  span {
    display: block;
    font-size: 72px;
    background: -webkit-linear-gradient(#35d097, #15563e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
